@import "variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/solar/bootswatch.scss";

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
}

html,
body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex-0 {
    flex: 0;
}

.flex-1 {
    flex: 1;
}
