@import "~bootswatch/dist/solar/variables.scss";

$primary:       #b58900;
$secondary:     #d33682;
$success:       #2aa198;
$info:          #268bd2;
$warning:       #cb4b16;
$danger:        #c00000;
$light:         #fdf6e3;
$dark:          #073642;

$secondary:     #bb1d69;
$primary:       #daa300;